.list {
  display: flex;
  align-items: flex-end;

  div {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: var(--primary-gray);
    border-bottom: 4px solid transparent;
    cursor: pointer;
    &.active {
      border-bottom: 4px solid var(--primary-black);
      color: var(--primary-black);
      font-weight: 500;
    }
  }
}

hr {
  margin: 0;
}

.favorites {
  margin-top: 20px;
  min-height: 60vh;

  .productsRow {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .shopsRow {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
