.campaignLayout {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr));
  width: 100%;
  padding: 15px;
  background-color: var(--secondary-gray);

  .campaign {
    @media (max-width: 500px) {
      margin-left: 0;
      flex-direction: column;
    }
    background-color: white;
    padding: 15px;
    flex: 1;
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;

    img {
      flex: 1;
      width: 100%;

      display: inline-block;
      margin-bottom: 10px;
    }
    div {
      @media (max-width: 500px) {
        margin-left: 0;
      }
      flex: 1;
      margin-left: 10px;
    }
  }

  .title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .content {
    font-size: 14px;
    color: var(--primary-gray);
    margin-bottom: 10px;
  }
  button {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--primary-pink);
    color: white;
    border: none;
  }
}
