.resetPasswordLayout {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  p {
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
  }
}
.field {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  text-align: left;
  label {
    margin-bottom: 2px;
  }
  .inputField {
    border: 1px solid var(--border-gray);
    margin-bottom: 5px;
    padding: 10px;
    color: var(--primary-black);
  }
  span {
    font-size: 13px;
    color: gray;
  }
}

.signupButton {
  background: var(--primary-pink);
  color: white;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login {
  font-size: 14px;
  font-weight: 400;
  span {
    color: var(--primary-pink);
  }
}

.prevPage {
  color: var(--primary-pink);
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  background: white;
}

.forgetPassword {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-pink);
}
