.productsRow {
  display: flex;
  padding: 20px 0;
  .sidebar {
    @media (max-width: 500px) {
      display: none;
    }
    display: block;
  }
  .productList {
    flex: 1;
  }
}
.mainContent {
  padding: 30px 0;
}

.policy {
  width: 800px;
  margin: 0 auto;
}

.story {
  max-width: 800px;
  width: 100%;
  margin: 50px auto 100px;
  p {
    color: var(--primary-gray);
    font-size: 16px;
  }
}
