.bannerLayout {
  display: flex;
  overflow: auto;
  position: relative;
  scroll-snap-type: x mandatory;
  .bannerRow {
    scroll-snap-align: start;
  }
}

.swiperBackground {
  padding-top: 580px;
  @media (max-width: 700px) {
    padding-top: 60%;
  }
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.paginationRow {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
}

.paginationBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  z-index: 15;
}

.dots {
  &:not(:last-child) {
    margin-right: 10px;
  }
  &.active {
    background-color: black;
  }
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
