.productRoot {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  @media (max-width: 500px) {
    background-color: #f0f0f0;
    padding: 0;
  }
  section {
    &:not(.productDisplay) {
      padding: 15px 15px;
    }
    width: 100%;
    background-color: white;
  }
}
.showBanner {
  @media (max-width: 500px) {
    top: 100%;
    transform: translate(0, -60px);
  }
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.hideBanner {
  @media (max-width: 500px) {
    top: 100%;
    transform: translate((0, 0));
  }
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  transform: translate(0, -90px);
  transition: 0.3s ease-in-out;
}

.containerLayout {
  @media (max-width: 720px) {
    flex-direction: column;
  }
  display: flex;
  margin: 0 auto 30px auto;
  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}

.productDisplay,
.productDescription {
  background-color: white;
  flex: 3;
}
.productMainInfo,
.designShopInfo {
  width: 100%;
  flex: 2;
  @media (max-width: 720px) {
    margin-left: 0;
    margin-top: 20px;
  }
  @media (max-width: 500px) {
    margin-top: 0;
  }
  margin-left: 20px;
}

.designShopInfo {
  position: sticky;
  top: 100px;
  align-self: flex-start;
}

.root {
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

h1.title,
h2.title {
  font-size: 20px;
  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.main {
  @media (max-width: 720px) {
    display: block;
  }
  justify-content: space-between;
  display: flex;
}

.productName {
  font-size: 22px;
}
.mainInfo {
  margin-left: 30px;
  @media (max-width: 720px) {
    margin-left: 0;
  }
  min-width: 300px;
}

.disabled {
  background-color: gray;
  color: black;
}
.imageTab {
  @media (max-width: 720px) {
    width: 40px;
    height: 40px;
  }

  width: 80px;
  height: 80px;

  border: white;
  cursor: pointer;
  border-radius: 10px;
  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.activeSize {
  background-color: #fa9b20;
  border: none;
}
.activeColor {
  border: black;
}
.removeBtn {
  padding: 5px;
  background-color: black;
  color: white;
}
.activeTab {
  color: black;
  font-weight: 500;
}
