header {
  background: white;
  nav {
    @media (max-width: 700px) {
      padding: 0 10px;
    }
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    > div,
    > ul {
      display: flex;
      align-items: center;
      > li {
        margin-left: 10px;
        display: flex;
        align-items: center;
      }
    }
    .logo {
      @media (max-width: 800px) {
        max-width: 80px;
        margin-left: 10px;
      }
      cursor: pointer;
      width: 100px;
      height: 100%;
    }
  }
}

.searchMobile {
  position: relative;
  margin: 0 5px 0 10px;
  input {
    padding: 10px 5px 10px 25px;
    font-size: 12px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: #fafafa;
  }
  .searchIcon {
    stroke: #dbd9d9;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: translate(3px, -50%);
    left: 5px;
  }
}

.search {
  @media (max-width: 720px) {
    display: none;
  }
  display: flex;
  margin-left: 30px;

  align-items: center;
  input {
    width: 200px;
    border-radius: 2px 0 0 2px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid var(--border-gray);
    transition: all 0.3s;
    &:focus {
      border: 1px solid var(--primary-pink);
    }
  }
  .searchBtn {
    border-radius: 0px 2px 2px 0px;
    padding: 10px 15px;
    border: 0;
    font-size: 14px;
    background-color: var(--primary-pink);
    color: white;
  }
}

.sectionDesktop {
  @media (max-width: 720px) {
    display: none;
  }
  .loginBtn {
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
  }
  .openShop {
    font-size: 14px;
    color: #eb7f82;
    border: 1px dashed #eb7f82;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      color: #189fac;
      border: 1px solid #189fac;
    }
  }
}

.sectionMobile {
  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  padding: 10px 0;
  display: none;
}

.favIcon:hover,
.cart:hover {
  color: var(--primary-pink);
}

.cart {
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  &:hover .dropdown {
    display: block;
  }
  .dropdown {
    position: absolute;
    top: 30px;
    display: none;
    right: 0;
    z-index: 12;
  }
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.icon {
  stroke: var(--primary-black);
}

.icon:hover {
  color: var(--primary-pink);
}

.heartIcon {
  cursor: pointer;
  margin-left: 10px;
}
