.back {
  display: flex;
  align-items: center;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.options {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
.browseCategories {
  .categories {
    @media (max-width: 500px) {
      display: flex;
      overflow: auto;
      flex-wrap: nowrap;
      max-width: 100vw;
      white-space: nowrap;
    }
  }
}
