.heroImage {
  background-image: url('https://images.unsplash.com/photo-1597499581969-ef0170b200ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2250&q=80');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 50%;
}
