.cardLayout {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  padding: 10px;
}

.cardTitle {
  font-size: 16px;
  background-color: var(--primary-pink);
  color: white;
  padding: 10px;
  display: inline-block;
  border-top-right-radius: 10px;
}
.row {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  p {
    width: 100px;
  }
  > input {
    margin-left: 10px;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    font-size: 14px;
  }
}
