.productsRow {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.filter {
  margin-bottom: 10px;
}

.filterSelect {
  border: 1px solid var(--border-gray);
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
